{:db-conf
   {:app-port 3000
    :classname "org.postgresql.Driver"
    :subprotocol "postgresql"
    :subname "//localhost:5430/safkalista"
    :user "safkalista_user"
    :password "possu"
    :db-type "postgresql"
    :db-server "localhost"
    :db-name "safkalista"
    :db-port 5430
    :db-username "safkalista_user"
    :db-password "possu"}}